# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HomeworkLesson15.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\projects\HomeworkLesson15\.idea\.idea.HomeworkLesson15\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
